.about{
    box-sizing: border-box;
    background-color: #535558;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    
}
.sobre{
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
}
.info{
    justify-content: center;
    text-align: center;
    color: #bdbdbd;
    font-size: 18px;
    font-weight: 500;
    padding-right: 450px;
    padding-left: 450px;

}