@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

.lili2{
    padding: 2vh 2.5vw;
    float:right;
    list-style-type: none !important;
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
    
}



.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    float: right;
    height: 6vh !important;
    background-color: #242424;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    list-style-type: none;
    
}




.navlinks{
    list-style: none;
    font-size: 11px !important;
    height: 6vh !important;
    border: 1px;
    margin-bottom: 0 !important;
    
    border-right: rgb(84, 84, 84) !important;
}

.navlinks li{
    display: inline-block;
    
}

.navlinks li a{
    transition: all 0.3s ease 0s;
    
}

.lili{
    border:  1px solid rgb(67, 67, 67);;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding: 2vh 3.5vw !important;
    float: right;
    transition: 0.3s;
    list-style-type: none !important;
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
}

.lili:hover{
    background-color:#0487eb !important;
    
}

