@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

.lili2{
    padding: 2vh 2.5vw;
    float:right;
}


.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    float: right;
    list-style-type: none;
    text-decoration: none;
    background-color: #242424;
    color: white;
    list-style-type: none;
    
}




.navlinks{
    list-style: none;
    font-size: 11px;
    
    border: 1px;
    border-right: rgb(84, 84, 84);
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a{
    transition: all 0.3s ease 0s;
    
}

.lili{
    border:  1px solid rgb(67, 67, 67);;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding: 2vh 3.5vw;
    float: right;
}

.lili:hover{
    background-color:#0487eb;
    
}

