.main-pg{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.title-pg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 48px;
    margin-top: 2vh;
    color: #5a5c5f;
}

.frames1{
    width: 100%;
    height: auto;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    
}

.f1{
    width: 255px;
    height: 255px;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 20px;
    cursor: pointer;
}



.f11{
    margin-right: 12%;
    
}
.f14{
    margin-left: 12%;
}


h5{
    color: white;
    font-size: 17px !important;
    font-weight: 600 !important;
    margin-top: -15% !important;
    margin-bottom: 8% !important;
    
}
.sft{
    margin-bottom: 2%  !important;
    
   
}

.expl{
    margin-bottom: -10% !important;
    margin-top: 5%;
    color: white;
    font-weight: 400;
}

.art-container{
    box-sizing: border-box;
    background-color: #e8e8e9;
    padding-top: 50px;
}

.list-t ul{
    text-decoration: none !;
    list-style: none ;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

ul li{
    margin-right: 15px;
    font-size: 17px;
}

.articles{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1{
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bigbox{
    background-color: #fafafa;
    border-radius: 10px;
    width: 552px;
    height: 520px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.historia{
    position: absolute;
    background-color: #ffe15c;
    font-weight: 300;
    font-size: 12px;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
    margin-top: 345px;
    margin-left: 20px;
}

.textybox{
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    position: relative;
    
    
}
.rafa{
    position: relative;
}

h2{
    margin-top: 20px !important;
    margin-left: 20px;
    font-weight: 600 !important;
    color: #5a5c5f;
}

.datext{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    position: relative;
}
.datext p{
    font-size: 11px !important;
    margin-right: 30px;
}

.datext a{
    font-size: 12px;
    margin-bottom: 18px;
    color: #0487eb !important;
}

.boxy{
    background-color: #fafafa;
    border-radius: 10px;
    width: 552px;
    height: 248px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;

}
.boxy1{
    background-color: #fafafa;
    border-radius: 10px;
    width: 552px;
    height: 248px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.boxyb{
    display: flex;
    flex-direction: column;
}

.textybox h3{
    margin-top: 20px !important;
    margin-left: 20px !important;
    font-weight: 500 !important;
    font-size: 26px !important;
    color: #5a5c5f;
}

#datext{
    margin-top: 90px;
}

.rafa1{
    position: relative;
}

.f11, .f12, .f13, .f14, .rafa, .rafa1{
    transition: 2s all ease-in-out;
    


}
.f11:hover,.f12:hover, .f13:hover, .f14:hover, .rafa:hover, .rafa1:hover{
    
    transform: scale(1.08);
}

.section2{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.barbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0487eb;
    border: none;
    border-radius: 10px;
    width: 552px;
    height: 98px;
    margin-right: 25px;
    cursor: pointer;
}

.barbox1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0487eb;
    border: none;
    border-radius: 10px;
    width: 552px;
    height: 98px;
    
}

#search{
    width: 368px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    padding-left:10px;
    padding-right: 10px;
    outline: none;
}
.submit{
    height: 50px;
    width: 117px;
    border-radius: 5px;
    border: 1px solid #fafafa;
    background-color: #0487eb;
    color: #fafafa;
    font-size: 16px;
    transition: 0.3s;
}
.submit:hover{
    background-color: rgb(74, 197, 74);
    border: 1px solid rgb(74, 197, 74);
    
}

.box{
    background-color: #fafafa;
    border-radius: 10px;
    width: 360px;
    height: 342px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    margin-top: 25px;
}

.section3{
    display: flex;
    flex-wrap: wrap;
    
    padding-left: 200px;
    padding-right: 45px;
    
    
}

.textybox h5{
    color:#5a5c5f;
    font-size: 17px !important;
    font-weight: 700 !important;
    margin-top: 5% !important;
    margin-left: 25px;
    margin-right: 25px;

}

.more{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 60px;
}

.more1{
    font-size: 24px;;
    margin-right: 10px;
    color: #5a5c5f;
    cursor: pointer;
}

.flechita{
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.flechita:hover{
    margin-left: 5px;
}